<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
        
<mapper namespace="com.won.repository.DeskMapper">

    <select id="selectDeskById" resultType="hashMap">
		SELECT *
		FROM ims_deamx_food_desknumber
		WHERE uniacid = #{uniacid}
		AND store_Id = #{storeId}
		AND id = #{deskId}
    </select>


</mapper>        
